version: '3.8'

services:
  brain:
    build: .
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
    env_file:
      - .env
    restart: always
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --ssl-keyfile /app/key.pem --ssl-certfile /app/cert.pem
    volumes:
      - ./app:/app/app
      - ./cert.pem:/app/cert.pem
      - ./key.pem:/app/key.pem
