VITE_FIREBASE_API_KEY=AIzaSyAGejlfxWLXlDlWOM3c0V1JzUJhsSpCtxY
VITE_FIREBASE_AUTH_DOMAIN=ampac-database.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ampac-database
VITE_FIREBASE_STORAGE_BUCKET=ampac-database.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=381306899120
VITE_FIREBASE_APP_ID=1:381306899120:web:37bafe7b048a4212bdc975
VITE_FIREBASE_MEASUREMENT_ID=G-HG722LLTKZ